doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Portfolio

        link(rel='icon', type='image/x-icon', href='assets/img/favicon.ico')

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v6.3.0/js/all.js', crossorigin='anonymous')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i', rel='stylesheet', type='text/css')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body#page-top

        // Navigation
        nav#sideNav.navbar.navbar-expand-lg.navbar-dark.bg-primary.fixed-top
            a.navbar-brand.js-scroll-trigger(href='#page-top')
                span.d-block.d-lg-none Mohammad A. Sultani
                span.d-none.d-lg-block
                    img.img-fluid.img-profile.rounded-circle.mx-auto.mb-2(src='assets/img/profile.jpg', alt='...')
            button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarResponsive.collapse.navbar-collapse
                ul.navbar-nav
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#about') About
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#experience') Experience
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#education') Education
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#certifications') Certification
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#skills') Skills
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#publication') Publications
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#projects') Projects

        // Page Content
        .container-fluid.p-0

            // About
            section#about.resume-section
                .resume-section-content
                    h1.mb-0
                        | Mohammad
                        span.text-primary Sultani
                    .subheading.mb-5
                        | Woodbridge, VA ·  (571) 425-0309 · 
                        a(href='mailto:mohammadsultani488@gmail.com') mohammadsultani488@gmail.com
                    p.lead.mb-5
                        strong Educator, Full-Stack Developer, and AWS Certified Professional
                        | with a proven background in delivering
                        strong helpdesk support, 
                        | building scalable applications, and guiding students in computer science. Skilled in 
                        strong JavaScript, PHP (Laravel), React, and AWS
                        | cloud technologies, supported by a 
                        strong Master’s degree in Computer Science
                        | and dual AWS certifications. I bring both academic insight and hands-on expertise
                        | to create solutions that balance technical precision with real-world impact.
                    .social-icons
                        a.social-icon(href='https://www.linkedin.com/in/amansultani/' target='_blank' rel='noopener noreferrer')
                            i.fab.fa-linkedin-in
                        a.social-icon(href='https://github.com/amansultani' target='_blank' rel='noopener noreferrer')
                            i.fab.fa-github
                        //- a.social-icon(href='#!')
                        //-     i.fab.fa-twitter
                        //- a.social-icon(href='#!')
                        //-     i.fab.fa-facebook-f

            hr.m-0

            // Experience
            section#experience.resume-section
               .resume-section-content
                    h2.mb-5 Experience

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Manufacture Operator
                            .subheading.mb-3 Pronto Manufacturing and Fulfillment
                            p
                                |Experienced in preparing materials, operating machinery, and ensuring compliance with GMP/cGMP standards through process monitoring, quality checks, and accurate recordkeeping.
                            span.text-primary April 2025 - Present

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Assistant Lecturer
                            .subheading.mb-3 Kabul Polytechnic University
                            p
                                | Taught undergraduate programming courses, designed curriculum, and supervised student projects. Provided mentorship, conducted workshops on emerging technologies, and contributed to departmental leadership and research initiatives.
                        .flex-shrink-0
                            span.text-primary October 2018 - August 2021

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 IT Support Specialist
                            .subheading.mb-3 Kabul Polytechnic University
                            p
                                | Delivered end-user support for faculty, staff, and students; maintained and secured computer labs; installed and upgraded IT equipment; troubleshot hardware, software, and network issues; and supported data backups and inventory management.
                        .flex-shrink-0
                            span.text-primary October 2018 - August 2021

                    .d-flex.flex-column.flex-md-row.justify-content-between
                        .flex-grow-1
                            h3.mb-0 Junior Web Developer
                            .subheading.mb-3 Asbaa Software
                            p
                                | Developed responsive, user-friendly websites by translating design concepts into functional code, creating accessible interfaces, and implementing a CMS for efficient site maintenance and updates.
                        .flex-shrink-0
                            span.text-primary March 2014 - September 2016

            hr.m-0

            // Education
            section#education.resume-section
                .resume-section-content
                    h2.mb-5 Education

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Kobe Institute of Computing
                            .subheading.mb-3 Master of Science In Computer Science
                            div Information Systems - Cloud Computing
                            p Awarded full scholarship; recognized for Best Master’s Thesis.
                            p Kobe, Japan
                        .flex-shrink-0
                            span.text-primary September 2016 - October 2018

                    .d-flex.flex-column.flex-md-row.justify-content-between
                        .flex-grow-1
                            h3.mb-0 Kabul Polytechnic University
                            .subheading.mb-3 Bachelor of Science In Computer Science
                            p 
                        .flex-shrink-0
                            span.text-primary March 2009 - March 2013

            hr.m-0

            // Certifications
            section#certifications.resume-section
                .resume-section-content
                    h2.mb-5 Certifications

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 AWS Certified Solutions Architect – Associate
                            .subheading.mb-3 Amazon Web Services                        
                            div September 2024 - September 2027

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 AWS Certified Cloud Practitioner
                            .subheading.mb-3 Amazon Web Services
                            div August 2025 - August 2028
                        

                    .d-flex.flex-column.flex-md-row.justify-content-between
                        .flex-grow-1
                            h3.mb-0 CompTIA A+
                            .subheading.mb-3 CompTIA
                            div September 2025 - September 2028


            hr.m-0

            // Skills
            section#skills.resume-section
                .resume-section-content
                    h2.mb-5 Skills
                    .subheading.mb-3 Programming Languages & Tools
                    ul.list-inline.dev-icons
                        li.list-inline-item
                            i.fab.fa-html5
                        li.list-inline-item
                            i.fab.fa-css3-alt
                        li.list-inline-item
                            i.fab.fa-js-square
                        li.list-inline-item
                            i.fab.fa-php
                        li.list-inline-item
                            i.fab.fa-laravel
                        li.list-inline-item
                            i.fab.fa-aws
                        li.list-inline-item
                            i.fab.fa-react
                        li.list-inline-item
                            i.fab.fa-node-js
                        li.list-inline-item
                            i.fab.fa-wordpress
                        li.list-inline-item
                            i.fas.fa-database
                        li.list-inline-item
                            i.fab.fa-github
                        li.list-inline-item
                            i.fab.fa-git
                        li.list-inline-item
                            i.fab.fa-java
                        li.list-inline-item
                            i.fab.fa-npm

                    .subheading.mb-3 Technical Skills
                    ul.fa-ul.mb-0
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Web Development: Full-stack development, responsive design, CMS implementation, database management
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Cloud & DevOps: AWS (Solutions Architect – Associate, Cloud Practitioner), cloud deployment, automation, system monitoring
                        li
                            span.fa-li
                                i.fas.fa-check
                            | IT Support: End-user support, troubleshooting, system installation & upgrades, IT asset management, data backup & security


                    div.mb-4 
                    .subheading.mb-3 Workflow
                    ul.fa-ul.mb-0
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Mobile-first, responsive design
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Cross-browser testing & debugging
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Collaboration with cross-functional teams
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Agile development & Scrum methodology
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Efficient workflow management


                    div.mb-4
                    .subheading.mb-3 Soft Skills
                    ul.fa-ul.mb-0
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Communication & teamwork
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Mentoring & academic instruction
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Problem-solving & adaptability
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Attention to detail

            hr.m-0

            // Publication
            section#publication.resume-section
                .resume-section-content
                    h2.mb-5 Publication
                    .mb-4
                        h4.mb-1 "Experimental Evaluation of Cloud-based Virtual Programming Lab"
                        div.text-muted Published: August 2018
                        div.text-muted Journal: ICEL
                        div.text-muted Authors: Mohammad Sultani, Muhammad Wannus
                    .mb-4
                        h4.mb-1 "Utilization of cloud technologies in building a virtual programming lab for higher education inAfghanistan"
                        div.text-muted Published: June 2018
                        div.text-muted Journal: IEEE
                        div.text-muted Authors: Mohammad Sultani, Nazim Kabiri, Muhammad Wannus
             
            hr.m-0

            // Projects
            section#projects.resume-section
                .resume-section-content
                    h2.mb-5 Projects

                    // Book Review Project
                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Book Review
                            .subheading.mb-3 Laravel Inertia React Demo Application
                            ul.text-normal
                                li Laravel Inertia.js Integration: Seamless integration of Inertia.js for a smooth React experience.
                                li Efficient Query Filtering: Utilization of scope methods for efficient query filtering.
                                li Data Consistency: Establishment of relationships between models for consistent data handling.
                                li Database Schema Setup: Perform migrations for setting up and updating the database schema.
                                li Initial Data Seeding: Seed data for initial application testing and development.
                                li Data Caching: Implementation of data caching for improved performance.
                            p.mb-1.text-normal
                                strong Skills:
                                |  PHP · React.js · Laravel · Inertia · Git
                            a(href='https://github.com/amansultani/book-review', target='_blank', rel='noopener noreferrer')
                                i.fab.fa-github.me-2
                                | GitHub - amansultani/book-review

                    // Newsfeed Project
                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Newsfeed
                            .subheading.mb-3 React Frontend and Laravel Backend Application
                            p.text-normal
                                |Newsfeed is a web application that lists articles from the NewsAPI. The system is composed of two projects:
                            ul.text-normal
                                li backend → developed in Laravel
                                li frontend → built with React
                                li These projects communicate through APIs to provide a seamless user experience.
                            p.mb-1.text-normal
                                strong Skills:
                                |  React.js · JavaScript · MySQL · Laravel · REST APIs
                            a(href='https://github.com/amansultani/newsfeed', target='_blank', rel='noopener noreferrer')
                                i.fab.fa-github.me-2
                                | GitHub - amansultani/newsfeed

                    // Explore Countries Project
                    .d-flex.flex-column.flex-md-row.justify-content-between
                        .flex-grow-1
                            h3.mb-0 Explore Countries
                            .subheading.mb-3 React using REST API
                            p.text-normal
                                | Explore Countries is a React application that fetches country information from restcountries. The application allows users to search for countries based on various criteria, view a list of countries, and access detailed information for each country.
                            ul.text-normal
                                li Search: Users can search for countries based on specific criteria.
                                li List View: View a list of countries based on the search criteria.
                                li Detail View: Click on a country to see detailed information.
                                li Sorting: Sort the list of countries based on different factors such as population, area, etc.
                            p.mb-1.text-normal
                                strong Skills:
                                |  React.js · REST APIs
                            a(href='https://github.com/amansultani/explore-countries', target='_blank', rel='noopener noreferrer')
                                i.fab.fa-github.me-2
                                | GitHub - amansultani/explore-countries


        // Bootstrap core JS
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js')

        // Core theme JS
        script(src='js/scripts.js')